{% extends "recipes_temp.html" %}

<!-- Page Title Begins -->
{% block title %}

Cooking Time 30 to 40 minutes

{% endblock %}
<!-- Page Title Ends -->

<!-- Banner Image Content Begins -->
{% block img_content %}

<div class="img_cont bg_img16">
	<h1 class="banner">Cooking Time 30 to 40 minutes</h1>
</div>
	
{% endblock %}}
<!-- Banner Image Content Ends -->

<!-- Main Body Content Begins -->
{% block body_content %}

<h3>All Recipes 30 to 40 Minutes</h3>

<div class="container_fluid" "row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ url_for('static', filename = 'imgs/pumpkin_pie.png') }}" alt="Pumpkin Pie">
      <div class="caption">
        <h3>Pumpkin Pie</h3>
        <p>Serves: 8</p>
		<p>Cooking Time: 30 mins to 1 hour</p>
        <p><a href="http://localhost:5000/recipes/30_40mins/pumpkin_pie" class="btn btn-primary" role="button">See Recipe</a>
      </div>
    </div>
  </div>
</div>

<div class="container_fluid" "row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ url_for('static', filename = 'imgs/toffee_muffins.png') }}" alt=" Toffee Muffins">
      <div class="caption">
        <h3>Toffee Apple Muffins</h3>
		<p>Serves: 12</p>
		<p>Cooking Time: 30 mins to 1 hour</p>
        <p><a href="http://localhost:5000/recipes/30_40mins/toffee_muffins" class="btn btn-primary" role="button">See Recipe</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}}
<!-- Main Body Content Ends -->


