{% extends "recipes_temp.html" %}

<!-- Page Title Begins -->
{% block title %}

About

{% endblock %}
<!-- Page Title Ends -->

<!-- Banner Image Content Begins -->
{% block img_content %}
   
    <div class="img_cont bg_img12">
		<h1 class="banner">About Baking Recipes</h1>
	</div>
    
{% endblock %}
<!-- Banner Image Content Ends -->

<!-- Main Body Content Begins -->
{% block body_content %}
 
	<div class="about_container">
    	<p>This site allows you to find baking recipes whether it's a special occasion or you want something that is quick and easy.</p>
    	
    	<p>If you are looking for recipes based on occasion you can choose from three categories:</p> 
    		<li>Halloween</li>
    		<li>Bonfire Night</li>
    		<li>Christmas</li>
    	<br/>
    	<p>If you are interested in finding recipes based on the cooking time you can choose from four categories:</p>
    		<li>Less than 10 minutes</li>
    		<li>10-20 minutes</li> 
    		<li>20-30 minutes</li>
    		<li>30-40 minutes.</li>
    	<br/>
  	</div>

{% endblock %}}
<!-- Main Body Content Ends -->