{% extends "recipes_temp.html" %}

{% block title %}

About

{% endblock %}

{% block img_content %}
   
    <div class="img_cont bg_img12">
		<h1 class="banner">About Baking Recipes</h1>
	</div>
    
{% endblock %}

{% block body_content %}
 
	<div class="about_container">
    	<p>
    		This site allows you to find recipes based on the occasion or the cooking time. If looking for recipes based on occasion you can choose from three catgories: Halloween, Bonfire Night and Christmas. If you are interested in finding recipes based on the cooking time you can choose from four categories: Less than 10 minutes, 10-20 minutes, 20-30 minutes and 30-40 minutes.
    	</p>
  	</div>

{% endblock %}}