<html>
<head>
<title>{% block title %}{% endblock %} | Baking Recipes</title>
<meta charset="utf-8">
<meta name="description" content="Baking Recipe Catalogue">
<meta name="author" content="Joanna Mein">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" >
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="navbar"> <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> <span class="sr-only">Toggle navigation</span> 
      </button>
      <a class="navbar-brand" href="http://localhost:5000/">Baking Recipes</a> </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
       	<li><a href="http://localhost:5000/about">About</a></li>
        <li><a href="http://localhost:5000/recipes">Recipes</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="img_container"> 
	{% block img_content %} {% endblock %} 
</div>

{% block body_content %} {% endblock %}
 
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script> 
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>
