{% extends "recipes_temp.html" %}

<!-- Page Title Begins -->
{% block title %}

Peanut Butter Squares

{% endblock %}
<!-- Page Title Ends -->

<!-- Banner Image Content Begins -->
{% block img_content %}
  
<div class="img_cont bg_img7">
	<h1 class="banner">{{ peanut.name }}</h1>
	<p class="lead banner">Cooking Time - {{ peanut.cooking }}</p>
</div>
	
{% endblock %}}
<!-- Banner Image Content Ends -->

<!-- Main Body Content Begins -->
{% block body_content %}
  
  <div class="recipe_container">
	<div class="ingredients">
		<h3>Ingredients</h3>
		<ul>
        	{% for ingredient in peanut.ingredients %}
            	<li>{{ ingredient }}</li>
        	{% endfor %}
    	</ul>
	</div>
	<div class="method">
		<h3>Method</h3>
		<ul>
        		{% for methods in peanut.methods %}
            	<li>{{ methods }}</li>
        	{% endfor %}
    	</ul>
	</div>
  </div>
  
{% endblock %}}
<!-- Main Body Content Ends -->
