{% extends "recipes_temp.html" %}

{% block title %}

Toffee Apple Muffins

{% endblock %}

{% block img_content %}
  
<div class="img_cont bg_img8">
	<h1 class="banner">{{ toffee.name }}</h1>
	<p class="lead banner">Cooking Time - {{ toffee.cooking }}</p>
</div>
	
{% endblock %}}

{% block body_content %}
  
  <div class="recipe_container">
	<div class="ingredients">
		<h3>Ingredients</h3>
		<ul>
        	{% for ingredient in toffee.ingredients %}
            	<li>{{ ingredient }}</li>
        	{% endfor %}
    	</ul>
	</div>
	<div class="method">
		<h3>Method</h3>
		<ul>
        	{% for methods in toffee.methods %}
            	<li>{{ methods }}</li>
        	{% endfor %}
    	</ul>
	</div>
  </div>
  
{% endblock %}}