@charset "UTF-8";

body, html{
  	height: 100%;
  	margin: 0;
}

.content{
	padding: 20px;
  	min-height: 100%;
  	margin: 0 auto -50px;
}

/* Navigation */

.navbar-inverse{
    background-color: #1C5253 !important; 
    border-color: #1C5253 !important; 
}

.navbar-inverse .navbar-brand, .navbar-nav>li>a{
    color: #D9CED2 !important;
}

.navbar-inverse .navbar-brand:hover, .navbar-nav>li>a:hover{
    color: #FFFFFF !important;
}

.nav-tabs>li>a{
    color: #1C5252 !important;
}
	
/* ----------- */

/* Thumbnail Content */

.btn-primary{
    background-color: #F26A68 !important;
    border-color: #F26A68 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
    background-color: #DC615F;
    border-color: #DC615F;
}

.equal{  
    display: -webkit-flex;
    display: flex;
}

/* ----------- */

/* Homepage Splash Screen */

.img_container{
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/home_banner.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
	
/* ----------- */

/* About Page */

.about_container{
	margin-top: 5%;
	font-size: 14px;
}

/* ----------- */

/* Page Banners */

.img_cont{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}

.bg_img{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/recipe.png);
}

.bg_img1{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/halloween.png);
}

.bg_img2{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/bonfire.png);
}

.bg_img3{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/christmas.png);
}

.bg_img4{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/pumpkin_pie.png);
}

.bg_img5{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/cobweb_cake.png);
}

.bg_img6{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/rocky_road.png);
}

.bg_img7{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/peanut_squares.png);
}

.bg_img8{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/toffee_muffins.png);
}

.bg_img9{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/christmas_wreath.png);
}

.bg_img10{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/gingerbread_baubles.png);
}

.bg_img11{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/mince_pies.png);
}

.bg_img12{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/biscuits.png);
}

.bg_img13{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/small_cakes.png);
}

.bg_img14{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/cupcakes.png);
}

.bg_img15{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/cookies.png);
}

.bg_img16{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/cake.png);
}

.bg_img17{
	background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../imgs/404.png);
}

h1.banner, h2.banner, p.lead{
	text-align: center;
	color: #FFFFFF;
}
	
h1.banner{
	margin-top: 0%;
    padding-top: 20%;
}
	
h2.banner{
	padding-top: 5%;
}
	
/* ----------- */

/* Catagory Pages  */

.caption h3{
	text-decoration: none;
}

/* ----------- */

/* Individual Recipe Pages  */

h3{
	text-decoration: underline;
}

recipe_container{
    width: 100%;
    padding: 0;
    margin: 0;
}
  	
ul{
	font-size: 14px;
	line-height: 30px;
}

/* ----------- */

/* Footer */

footer, .push{
	position: absolute;
    width: 100%;
    height: 60px;
    background-color: #1C5253;
	color: #D9CED2;
	font-size: 12px;
}

.container{
	text-align: center;
    line-height: 10px;
    margin-top: 1%;
}
/* ----------- */
